<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Adverse Reactions Report</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<!-- build:css({.tmp,app}) styles/main.css -->

	<link href="/bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
	<link href="/css/faery.css" rel="stylesheet">

	<link rel="shortcut icon" href="/images/favicon.ico">
	<!-- endbuild -->
</head>
<body  ng-app="faery">
    <div class="container"> 
		<h3 class="heading row col-xs-12 col-md-12">Faery - FDA Adverse Event Reports Utility </h3>
		<h5 class="sub-heading row col-xs-12 col-md-12">Discover
		   possible adverse reactions for up to 4 combinations of the
		   drugs
		   your patient is taking.</h4>
	</div>

	<div class="container">
		<div class="col-xs-12 col-md-12">
			<div class="col-xs-12 col-md-12" ng-controller="AdverseReaction">
			   <div class="row">
				   <label class="sr-only" for="add-drug-input">Start by typing a drug name here</label>
				   <input class="col-md-4" id="add-drug-input" ng-show="needAdd()" type="text" ng-model="newDrug"
					 typeahead="drug for drug in getMatchingDrugs(newDrug) | filter:$viewValue | limitTo:8"
						  typeahead-loading="loadingDrugs"
						  typeahead-on-select="selectedDrug($item, $model, $label)"
						  placeholder="Start by typing a drug name here">
						 <i ng-cloak ng-show="loadingDrugs"
							  class="glyphicon glyphicon-refresh"></i>
				</div>
				<div class="row drug-list">
				   <div class="btn-group" role="group" ng-repeat="item in drugList track by $index"
							class="col-xs-2 col-md-2">
						<span ng-cloak
							  class="drug-name label label-info">{{item}} 
							<span ng-click="remove($index)" class="glyphicon glyphicon-remove"/></span>
						</span>
				   </div>
			   </div>
			</div>

		</div>

		<div id="adverse-reactions-san-key" class="col-xs-12 col-md-12"></div>
	</div>

	<script type="text/javascript" src="/bower_components/underscore/underscore.js"></script>
	<script type="text/javascript" src="/bower_components/underscore.string/lib/underscore.string.js"></script>
	<script type="text/javascript" src="/bower_components/angular/angular.js"></script>
	<script type="text/javascript" src="/bower_components/angular-sanitize/angular-sanitize.min.js"></script>
	<script type="text/javascript" src="/bower_components/angular-route/angular-route.min.js"></script>
	<script type="text/javascript" src="/bower_components/angular-animate/angular-animate.min.js"></script>
	<script type="text/javascript" src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
	<script type="text/javascript" src="/bower_components/angular-touch/angular-touch.min.js"></script>
	<script type="text/javascript" src="https://www.google.com/jsapi"></script>
	
	<script type="text/javascript" src="/scripts/app/faery.js"></script>
	<script type="text/javascript" src="/scripts/adversereaction/app.js"></script>
</body>

</html>